<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Employee Registration Form</title>
	<th:block th:include="layout/Header"></th:block>
</head>
<body>
	<form th:object="${employee}" th:action="@{/Employee}" method="post">
	<table>
		<tr>
			<th></th>
			<td><input type="hidden" th:field="*{empId}" required></input></td>
		</tr>
		<tr>
			<th>FullName :</th>
			<td><input type="text" th:field="*{fullName}" required></input></td>
		</tr>
		<tr>
			<th>Email :</th>
			<td><input type="email" th:field="*{email}" required></input></td>
		</tr>
		<tr>
			<th>UserName :</th>
			<td><input type="text" th:field="*{userName}" required></input></td>
		</tr>
		<tr>
			<th> Password:</th>
			<td><input type="password" th:field="*{password}" required></input></td>
		</tr>
		<tr>
			<th>Role :</th>
			<td>		
				<select th:field="${employee.role}" required>
					<option th:each="ROLE : ${EMPLOYEE_ROLES}" th:value="${ROLE.roleId}"
							th:text="${ROLE.roleName}" th:selected="${employee.role.roleId}==${ROLE.roleId}">Employee Role</option>
				</select>
			</td>
		</tr>
<!--  	<tr>
			<th>Reports To :</th>
			<td>		
				<select th:field="*{reportsTo}" required>
					<option th:each=" manager : ${MANAGERS}" th:value="${manager.empId}"
							th:text="${manager.fullName}" th:selected="${manager.empId}==${EMPLOYEE_RT}">Employee Role</option>
				</select>
			</td>
		</tr>  -->
		<tr>
			<td></td>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>	
	
	</form>
</body>
</html>