<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<table>
	<tr>
	<td><a th:href="${'/leaveAppForm'}">Submit Leave Application</a></td>
	</tr>
	<tr>
	<td><a th:href="${'/manageLeaveDetails'}">View/Edit Applied Leaves</a></td>
	</tr>
	<tr>
	<td><a th:href="${'/viewApprovedLeaves'}">View Approved Leaves</a></td>
	</tr>
	<tr>
	<td><a th:href="${'/viewPersonalLeaveHistory'}">View Personal Leave History</a></td>
	</tr>
	
</table>
</body>
</html>